/* common Styles */

/* body {
  margin: 0;
  padding: 0;
} */

/* h1 {
  background-color: cadetblue;
  width: fit-content;
} */
/* p {
  color: cyan;
  max-width: fit-content;
} */
/* .choose-plan {
  color: white;
  margin: 10px 20;
  padding: 8px 25px;
  border-radius: 7px;
} */
